{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Copy Code",
  classes: "govuk-button--secondary copy-code-button",
  attributes: `onclick="copyTextFrom({{params.targetId}})"`
}) }}