{% extends "page.njk" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third sticky">
        {{ xGovukSubNavigation({ items: sidenav}) }}
    </div>
    <div class="govuk-grid-column-two-thirds">
        {%- if not noheader -%}
        {{ appDocumentHeader({
            title: title,
            description: description
        }) }}
        {%- endif -%}

        {{ appProseScope(content) if content }}
        {%- if not content -%}
            <p>You need to add content</p>
        {%- endif -%}

        {% include "layouts/shared/related.njk" %}
    </div>
</div>
{% endblock %}