{% extends "layouts/page.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
        text: "Prototype",
        classes: "govuk-tag--pink"
      },
      html: 'This is a prototype of a new design for the Business Gateway developer pack. You might experience problems.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}