{% extends "page.njk" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third sticky">
        <aside class="contents-list" role="complementary">
            <nav aria-label="Pages in this guide" role="navigation">
                <h2 class="govuk-heading-m">
                    Contents
                </h2>
                <ol class="govuk-list dashed-list">
                    {% for nav in contents %}
                        <li><a href="{{nav.href}}">{{nav.text}}</a></li>
                    {% endfor %}
                </ol>
            </nav>
        </aside>
    </div>
    <div class="govuk-grid-column-two-thirds">
        {%- if not noheader -%}
        {{ appDocumentHeader({
            title: title,
            description: description
        }) }}
        {%- endif -%}

        {{ appProseScope(content) if content }}
        {%- if not content -%}
            <p>You need to add content</p>
        {%- endif -%}

        {% include "layouts/shared/related.njk" %}
    </div>
</div>
{% endblock %}