{% extends 'page.njk' %}

{% set versioned = true %}
{% set spy = false %}

{% block content %}
<div class="govuk-grid-row">
{# Title + description #}
{% block mainHeader %}
<div class="govuk-grid-column-full">
{{ appDocumentHeader({
    title: title,
    description: description
}) }}
{%- if notlive -%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{{ govukWarningText({
  text: "These API endpoints are not currently live.",
  iconFallbackText: "Warning"
}) }}
{%- endif -%}
</div>
{% endblock %}

<div class="govuk-grid-column-two-thirds">
{# Version Selection #}
{% block versionSelect %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0">
<div class="bg-version-grid">
    <div>
        <h2 class="govuk-heading-m govuk-!-margin-0" id="version-and-status">Version and Status</h2>
    </div>
    {{ govukSelect({
        id: "version",
        name: "version",
        label: {
            text: "Version and Status dropdown",
            classes: "govuk-visually-hidden"
        },
        items: versions,
        formGroup: {
            classes: "version-group govuk-!-margin-0",
            afterInput: {
                html: '<button type="submit" 
                class="govuk-button govuk-!-margin-0" 
                data-module="govuk-button"
                onclick="setVersion();"
                >View</button>'
            }
        }
    }) }}
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
{% endblock %}
{# Main Content #}
{{ appProseScope(content) if content }}

</div>

{# Related Items #}
<div class="govuk-grid-column-one-third">
<aside class="related-items" role="complementary">
    <h2 class="govuk-heading-m" id="related-apis">
    Related APIs
    </h2>
    <nav role="navigation" aria-labelledby="related-apis">
    <ul class="govuk-list">
    {% for item in relatedAPIs %}
        <li class="govuk-!-margin-bottom-2"><a class="govuk-body govuk-link {{item.classes}}" href="{{item.href}}">{{item.text}}</a></li>
    {% endfor %}
    </ul>
    </nav>
</aside>
</div>

</div>
{% endblock %}