{% extends "layouts/base.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/footer/macro.njk" import hmlrFooter %}
{# {% from "./macros/hmlr/footer/macro.njk" import hmlrFooter %} #}

{% block head %}
{{super()}}
<script src="/assets/script.js"></script>
{%- if versioned -%}
<script>
    function setVersion() {
        let version = document.getElementById('version').value;
        if (!window.location.href.includes(version + '/')) {
            console.log(`Versions were different, navigating to ${version}`)
            if (window.location.href.match(/\/[0-9.]+\//))
                window.location.href = window.location.href.replace(/\/[0-9.]+\//, `/${version}/`)
            else
                window.location.href = `./${version}`
        } else {
            console.log(`Version has not changed`);
        }
    }
    document.addEventListener("DOMContentLoaded", () => {
        setVersion()
    });
</script>
{%- endif -%}
{%- if spy -%}
<script>
    let rangeToElement = []
    let navigations = {}

    function initialize(navItems) {
      navItems.forEach(element => {
        let href = element.href.split('#')[1];
        let related = document.querySelector("#"+href);
        let scrollY = related.offsetTop;
        rangeToElement.push({
          scroll: scrollY,
          element: element
        });
      });
      rangeToElement = rangeToElement.sort((a, b) => a.scroll - b.scroll)
      update();
    }

    function update() {
      let scrollY = window.scrollY;
      let selected = rangeToElement[0];
      for (let scroller of rangeToElement) {
        if (scroller.scroll > scrollY) {
          break;
        }
        selected = scroller;
      }
      select(selected.element);
    }

    function select(selectedElement) {
      if (selectedElement.classList.contains("x-govuk-sub-navigation__section-item--current")) return;
      for (let el of rangeToElement) {
        if (el.element == selectedElement) continue;
        unselect(el.element)
      }
      selectedElement.classList.add("x-govuk-sub-navigation__section-item--current")
      selectedElement.setAttribute("aria-current", true);
    }

    function unselect(element) {
      element.classList.remove("x-govuk-sub-navigation__section-item--current")
      element.setAttribute("aria-current", false);
    }

    document.addEventListener("DOMContentLoaded", () => {
        initialize(document.querySelectorAll(".x-govuk-sub-navigation a"))
        document.addEventListener("scroll", (event) => update());
    });
</script>
{%- endif -%}
{% endblock %}

{% block beforeContent %}
  {# {{ govukPhaseBanner({
      tag: {
        text: "Prototype",
        classes: "govuk-tag--pink"
      },
      html: 'This is a prototype of a new design for the Business Gateway developer pack. You might experience problems.'
  }) }} #}
  {%- if not noback -%}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {%- endif -%}
{% endblock %}

{% block content %}

{%- if sidenav -%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third sticky">
        {{ xGovukSubNavigation({ items: sidenav}) }}
    </div>
    <div class="govuk-grid-column-two-thirds">
{%- endif -%}

{%- if not noheader -%}
{{ appDocumentHeader({
  title: title,
  description: description
}) }}
{%- endif -%}

{{ appProseScope(content) if content }}
{%- if not content -%}
  <p>You need to add content</p>
{%- endif -%}

{% include "layouts/shared/related.njk" %}

{%- if sidenav -%}
</div></div>
{%- endif -%}

{% endblock %}

{% block footer %}
{{ hmlrFooter({
  meta: {
    visuallyHiddenTitle: "These links open in a new tab.",
    text: "These links open in a new tab.",
    items: [{
      text: "Accessibility Statement",
      href: "https://landregistry.github.io/bgtechdoc/accessibility/index.html"
    }]
  },
  copyright: {
    text: "&copy; Crown copyright"
  }
}) }}
{% endblock %}

{% block scripts %}
{{super()}}
{%- if stepbystep -%}
<script src="/assets/js/step-by-step-navigation.js"></script>
<script src="/assets/js/step-by-step-polyfills.js"></script>
<script type="text/javascript">
  var $element = document.querySelector('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>
{%- endif -%}
{% endblock %}