{% extends "layouts/base.njk" %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{# {% from "hmlr/components/footer/macro.njk" import hmlrFooter %} #}
{% from "./macros/hmlr/footer/macro.njk" import hmlrFooter %}

{% block head %}
{{super()}}
<script src="/assets/script.js" />
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: {
        text: "Prototype",
        classes: "govuk-tag--pink"
      },
      html: 'This is a prototype of a new design for the Business Gateway developer pack. You might experience problems.'
  }) }}
  {%- if not noback -%}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  {%- endif -%}
{% endblock %}

{% block content %}
  {%- if not noheader -%}
  {{ appDocumentHeader({
    title: title,
    description: description
  }) }}
  {%- endif -%}

  {{ appProseScope(content) if content }}
  {%- if not content -%}
    <p>You need to add content</p>
  {%- endif -%}

  {% include "layouts/shared/related.njk" %}
{% endblock %}

{% block footer %}
{{ hmlrFooter({
  meta: {
    visuallyHiddenTitle: "These links open in a new tab.",
    text: "These links open in a new tab.",
    items: [{
      text: "Terms and conditions",
      href: ""
    }, {
      text: "Accessibility Statement",
      href: ""
    }, {
      text: "Cookies",
      href: ""
    }, {
      text: "Freedom of information",
      href: ""
    }]
  },
  copyright: {
    text: "&copy; Crown copyright"
  }
}) }}
{% endblock %}