// Use GOV.UK Frontend
$_font-family: Helvetica, Arial, system-ui, sans-serif;

// Use GOV.UK Eleventy Plugin components
@use "pkg:@x-govuk/govuk-eleventy-plugin";
@use "govuk-frontend/dist/govuk" as *;

// Use HMLR Frontend
@use "../../node_modules/@hmlr/frontend/hmlr/all.scss" with (
  $hmlr-assets-path: "/hmlrassets/",
  $govuk-font-family: $_font-family,
  $govuk-brand-colour: #789904
);

$govuk-brand-colour: #789904;

aside.contents-list {
  padding-bottom: 15px;
  border-bottom: 1px solid #b1b4b6;
}

aside.related-items {
  border-top: 2px solid $govuk-brand-colour;
  padding-top: 10px;
}

.dashed-list > li::before {
  content: "—";
  position: absolute;
  left: 0;
  width: 20px;
  overflow: hidden;
}

aside.contents-list li {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

aside.content-list ol.dashed-list, .content-list ul {
  list-style-type: none;
}

.x-govuk-sub-navigation__section-item--current {
  border-left-color: govuk-colour("blue");
}

@media (min-width: 40.0625em) {
  .sticky {
    position: sticky;
    top: 25px;
  }
}

.grey {
  background-color: govuk-colour("light-grey");
  border-bottom-color: govuk-colour("mid-grey");
  border-bottom-width: .1em;
  border-bottom-style: solid;
}

.version-group {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0 1em;
  height: 40px;
}

.version-label-center-y {
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  align-items: center;
  height: 40px;
}

.govuk-footer__copyright-logo--hmlr{
  display: block;
  background-repeat: no-repeat;
}

.govuk-footer__copyright-logo::before {
  display: none;
}

.govuk-header__logo {
  width: auto;
}

[data-sortable] {
  display: none;
}

.api-sort-visible[data-sortable] {
  display: initial;
}

pre, code {
  font-family: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace;
}

.code-wrapper {
  position: relative;
}

.code-wrapper button {
  position: absolute;
  top: govuk-spacing(5);
  right: govuk-spacing(5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  z-index: 1;
  min-width: 110px;
  padding: 3px 10px;
  border: 1px solid #00823b;
  color: #00823b;
  background-color: #fff;
  box-shadow: 0 2px 0 0 #00703c;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:active {
    top: govuk-spacing(5);
  }
}
